<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=big5">
</head>
<body>

<h1>會員登入</h1>

<form name="login" method="post" action="/login",enctype="multipart/form-data">
<p>Email <input type="email" name="email" required>
<p>Password <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" name="password" required >
<p><input type="submit" name="singin" value="登入">
</form>

<input type ="button" onclick="javascript:location.href='http://localhost:5000/singup'" value="註冊會員"></input>

<!-- 點選上下頁自動刷新 -->
<script>
    window.onpageshow = function(event) {
      if (event.persisted) {
        window.location.reload() 
      }
    };
    </script>
</body>
</html>