{{ define "my_chatroom" }}
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=big5">
</head>
<body >
    <script>
        window.onpageshow = function(event) {
          if (event.persisted) {
            window.location.reload() 
          }
        };
        </script>
<center>
<h1>xxx的聊天室列表</h1>
<!-- <meta http-equiv="refresh" content="3" /> -->
<table>
    <thead>
        <tr>
            <th colspan="2">
                <!-- <form name="create_chatroom" method="get" action="/create_chatroom",enctype="multipart/form-data"> -->
                    <!-- <input type="submit" name="create_chatroom" value="新增聊天室"> -->
                    <input type ="button" onclick="javascript:location.href='create_chatroom'" value="新增聊天室"></input>
                <!-- </form> -->
            </th>
            <th colspan="1"> 
                <form name="logout" method="post" action="/logout",enctype="multipart/form-data">
                    <input type="submit" name="logout" value="登出">                
                </form>
            </th>

        </tr>
    </thead>
    <tbody align ="center">
        <tr>
            <th>聊天室名稱</th>
            <th>室長</th>
            <th>操作</th>
        <!-- </tr>
              <tr>
            <td>name</td>
            <td>owber</td>

            <td> <a href="create_chatroom">進入</a></td>
        </tr> -->
        {{range $key, $value := .}}
        <tr>
            <td>{{$value.RoomName}}</td>
            <td>{{$value.RoomOwner}}</td>
            <td> <a href="create_chatroom">進入</a></td>
         </tr>
         {{end}}
    </tbody>
</table>


<p><input type="submit" name="prev" value="prev">
<select>
    <option>Page 1</option>
    <option>Page 2</option>
    <option>Page 3</option>
    <option>Page 4</option>
    <option>Page 5</option>
    <option>Page 6</option>
    <option>Page 7</option>
</select>
<input type="submit" name="next" value="next"></p>

<!-- 點選上下頁自動刷新 -->
</center>
</body>
</html>
{{ end }}
