{{define "my_chatroom"}}
<html>
<head>
<title> {{.Username}}的聊天室列表  </title>
<meta http-equiv="content-type" content="text/html; charset=big5">
</head>
<body >
    <script>
        window.onpageshow = function(event) {
          if (event.persisted) {
            window.location.reload() 
          }
        };

//         function print_value() {
//     	document.getElementById("result").innerHTML = document.getElementById("page").options[document.getElementById("page").selectedIndex ].value
// }
        </script>
<center>
<h1>{{.Username}}的聊天室列表</h1>
<!-- <meta http-equiv="refresh" content="3" /> -->
<table>
    <thead>
        <tr>
            <th colspan="2">
                <!-- <form name="create_chatroom" method="get" action="/create_chatroom",enctype="multipart/form-data"> -->
                    <!-- <input type="submit" name="create_chatroom" value="新增聊天室"> -->
                    <input type ="button" onclick="javascript:location.href='create_chatroom'" value="新增聊天室"></input>
                <!-- </form> -->
            </th>
            <th colspan="1"> 
                <form name="logout" method="post" action="/logout",enctype="multipart/form-data">
                    <input type="submit" name="logout" value="登出">                
                </form>
            </th>

        </tr>
    </thead>
    <tbody align ="center">
        <tr>
            <th>聊天室名稱</th>
            <th>室長</th>
            <th>操作</th>
        {{range $key, $value := .ChatRooms}}
        <tr>
            <td>{{$value.RoomName}}</td>
            <td>{{$value.RoomOwner}}</td>
            <td>
                <form id="_form" method="post" action="/chatroom" style="margin:0px;display:inline;">
                    <input type="hidden" name="selected_room_name" value="{{$value.RoomName}}" >
                    <input type="hidden" name="selected_room_owner" value="{{$value.RoomOwner}}" >
                    <!-- <a href="/chatroom" target="_blank" onclick="this.parentNode.submit()"> 進入</a> -->
                    <a onclick="this.parentNode.submit()"> 進入</a>

                </form>
            </td>
         </tr>
         {{end}}
    </tbody>
</table>
<br>
<form name = "prev_page" action="/prev_page" method="get" style="margin:0px;display:inline;">
<input type="submit"  value="prev">
</form>

<form name = "selected_page"  action="/selected_page" method="post" style="margin:0px;display:inline;">
<select id = "page" name ="page" onchange="this.form.submit();">
    <!-- <select onchange="location.href=this.options[this.selectedIndex].value"> -->
    {{$cp :=.CurrentPage}}
    {{ range $i, $page :=  (.Pages) }}
        {{if eq $page $cp}} <!--if page == cp-->
            <option selected >{{ $page }}</option>
        {{else}}
        <option  >{{ $page }}</option>
        {{end}}
  
    {{end}}
</select>
<!-- <input type="submit" name="page" value="page"> -->
</form>

<form name = "next_page" action="/next_page" method="get" style="margin:0px;display:inline;">
    <input type="submit"  value="next">
</form>
<br>
</center>
</body>
</html>
{{end}}
